bitsandbytes>=0.39.0
accelerate
transformers
lovely-tensors  # output formatting
tqdm
psutil  # system monitoring
gputil  # GPU monitoring
numpy
matplotlib
torch
onnx  # ONNX export support
onnxruntime  # ONNX runtime
onnxoptimizer  # ONNX optimization
